html, body {
    height: 90%;
    margin: 0;
}

header {
    background-color: #34373c;
    position: fixed;
    left: 0px;
    top: 0px;
    right: 0px;
    height: 85px;
    z-index: 1;
    border-bottom: #444442 1px solid;
}

footer {
    position: relative;
    clear: none;
    height: 3em;
    width: 100%;
    margin: 15px 0;
}

a:hover {
    color: #1BB76E!important;
}

a:focus {
    outline: 0!important;
}

ul {
    display: block;
    -webkit-margin-after: 0em;
    -webkit-margin-before: 0em;
}

#home {
    cursor: pointer;
}

#main-nav li {
    color: #f2f2f2;
    float: left;
    margin-top: 10px;
    padding: 7px 10px;
}

#main-nav a {
    color: #f2f2f2;
    text-decoration: none;
}

#dynamic-content {
    margin-top: 85px;
    min-height: 94%;
    position: relative;
}

#tabs {
    left: 0;
    border: none;
}

#helptext {
    margin-top: 10px;
    width: 85%;
    font-size: 1.5em;
}

#reminder, #example, #detail {
    width: 80%;
    font-size: 1.25em;
    font-style: italic;
}

/* container for label, textinput, buttons, alert */
#custom-filters {width: 85%;}

#label {
    margin-top: 15px;
    display: inline;
}

#extras {
    margin-right: 10px;
    padding-top: 20px;
    text-align: right;
    width: 30%;
}

#filters {font-size: 1.2em;}

#btn-group {
    margin-top: 5px;
    padding-left: 10px;
}

#submit:hover {color: #1BB76E!important;}
#reset:hover {color: #DB3535!important;}

#alert {
    margin-right: 10px;
    padding-top: 5px;
    text-align: right;
    height: 32px;
    width: 30%;
}

#example {
    display: none;
}

#toggle-example {
    cursor: pointer;
    border-bottom: 1px dotted #1BB76E;
}

#detail {
    display: none;
}

#toggle-detail {
    cursor: pointer;
    border-bottom: 1px dotted #1BB76E;
}

#copyright {
    font-size: .8em;
    width: 50%;
    position: absolute;
    bottom: 0px;
    right: 25%;
    left: 50%;
    margin-left: -25%;
    text-align: center;
}

.logo {
    -webkit-border-radius: 50px;
    border-radius: 50px;
    margin: 10px 0 0 10px;
    padding: 0 15px;
}

.logo:hover {
    background-color: #50545c;
}

.social {
    font-size: 3em;
    height: 32px;
    width: 32px;
    display: -webkit-box;
}

.wrap {
    margin: 0 auto;
    max-width: 1025px;
    padding: 0 10px;
}

.ui-tabs-vertical .ui-tabs-nav {
    padding: 1em 1em 1em 1.5em;
    float: left;
    width: 12em;
    height: 25em;
    border-bottom-right-radius: 20px;
    border-bottom-left-radius: 0;
    border-top-left-radius: 0;
}

.ui-tabs-vertical .ui-tabs-nav li a { display: block; }
.ui-tabs-vertical .ui-tabs-nav li.ui-tabs-selected {
    padding-right: .1em;
}

.ui-tabs-vertical .ui-tabs-panel {
    padding: .8em;
    width: 40em;
}

.ui-tabs-active {
    border: 0px;
}

.ui-state-default {
    background-color: #50545c!important;
    border: 0!important;
}

.ui-state-active {
    background-color: #50545c!important;
    border: 0!important;
    -moz-box-shadow:    0px 0px 11px 1px #1BB76E;
    -webkit-box-shadow: 0px 0px 11px 1px #1BB76E;
    box-shadow:         0px 0px 11px 1px #1BB76E;
}

.ui-tabs-tab {
    width: 90%;
    border-radius: 20px;
    margin-top: 1em!important;
    font-size: 1.35em;
}

.ui-tabs .ui-tabs-nav .ui-tabs-anchor {
    width: 80%;
    font-weight: bold;
}

.ui-widget-header {
    border: none;
    background-color: #34373c;
    color: #f2f2f2;
}

.ui-widget-content {
    background-color: #141518;
    color: #f2f2f2;
}