html, body { height: 92%; margin: 0; }

header {
    background-color: #34373c;
    position: fixed;
    left: 0px;
    top: 0px;
    right: 0px;
    height: 85px;
    z-index: 1;
    border-bottom: #444442 1px solid;
}

footer {
    position: relative;
    clear: both;
    height: 2em;
    width: 100%;
    margin: 1em 0 0 0;
}

p { line-height: 2; }

ul {
    display: block;
    -webkit-margin-after: 0em;
    -webkit-margin-before: 0em;
}

input[type="checkbox" i] {
    margin-left: 2em;
    width: 1.5em;
    height: 1.5em;
}

input[type="image"] {
    max-width: 25em;
    border: 1px solid #1BB76E;
    -webkit-border-radius: 60px;
    border-radius: 60px;
    margin: 1em 0 0 0;
    padding: 1em 2em 0 2em;
}

input[type="image"]:hover {
    border: 1px solid #f2f2f2!important;
    -moz-box-shadow:    0px 0px 11px 1px #1BB76E;
    -webkit-box-shadow: 0px 0px 11px 1px #1BB76E;
    box-shadow:         0px 0px 11px 1px #1BB76E;
}

label {
    height: 1.5em;
    font-size: 1.2em;
    padding: 0 1em;
    vertical-align: super;
}

a:hover { color: #1BB76E!important; }
a:focus { outline: 0!important; }

::-webkit-input-placeholder { color: #f2f2f2; }

#home { cursor: pointer; }

#main-nav li {
    color: #f2f2f2;
    float: left;
    margin-top: 10px;
    padding: 7px 10px;
}

#social-nav { margin-top: 15px; }
#social-nav a { color: #f2f2f2; text-decoration: none; }

#tabs { left: 0; border: none; }
#tabpages { margin-left: 15em; }

#dynamic-content {
    margin-top: 85px;
    min-height: 96%;
    position: relative;
}

/* container for label, textinput, buttons, alert */
#options-gallery { width: 85%; }
#label { margin-top: 15px; display: inline; }

#extras {
    margin-right: 15em;
    padding-top: 20px;
    text-align: right;
    /*width: 30%;*/
}

#filters { font-size: 1.2em; }
#btn-group { margin-top: 5px; padding-left: 10px; }
#submit:hover { color: #1BB76E!important; }
#reset:hover { color: #DB3535!important; }

#alert {
    margin-right: 15em;
    padding-top: 5px;
    text-align: right;
    height: 32px;
    width: 30%;
}

#extra-info p { clear: both; margin-bottom: 0; }


#reminder, #example, #detail {
    width: 80%;
    font-size: 1.25em;
    font-style: italic;
}

#example { display: none; }
#toggle-example { cursor: pointer; border-bottom: 1px dotted #1BB76E; }
#detail { display: none; }
#toggle-detail { cursor: pointer; border-bottom: 1px dotted #1BB76E; }

#donate {
    margin-top: 3em;
}

#copyright {
    font-size: .8em;
    width: 50%;
    position: absolute;
    bottom: 0;
    right: 25%;
    left: 50%;
    margin-left: -25%;
    text-align: center;
}

.logo {
    -webkit-border-radius: 50px;
    border-radius: 50px;
    margin: 10px 0 0 10px;
    padding: 0 15px;
}

.logo:hover { background-color: #50545c; }

.social {
    margin: 5px 5px;
    padding: 0 2px;
    float: right;
    font-size: 3em;
    height: 32px;
    width: 32px;
    display: -webkit-box;
}

.wrap {
    margin: 0 auto;
    max-width: 95%;
    padding: 0 10px;
}

.helptext {
    margin-top: 10px;
    width: 85%;
    font-size: 1.5em;
}