html, body {
    height: 90%;
    margin: 0;
}

header {
    background-color: #34373c;
    position: fixed;
    left: 0px;
    top: 0px;
    right: 0px;
    height: 85px;
    z-index: 1;
    border-bottom: #444442 1px solid;
}

footer {
    position: relative;
    clear: none;
    height: 3em;
    width: 100%;
    margin: 15px 0;
}

button.submit:hover {
    color: #1BB76E!important;
}

button.reset:hover {
    color: #DB3535!important;
}

a:hover {
    color: #1BB76E!important;
}

ul {
    display: block;
    -webkit-margin-after: 0em;
    -webkit-margin-before: 0em;
}

#main-nav li {
    color: #f2f2f2;
    float: left;
    margin-top: 10px;
    padding: 7px 10px;
}

#main-nav a {
    color: #f2f2f2;
    text-decoration: none;
}

#dynamic-content {
    margin-top: 85px;
    min-height: 94%;
    position: relative;
}

#tabs {
    border: none;
}

#alert {
    padding-top: 5px;
    height: 32px;
    width: 300px;
    margin-right: 45px;
    text-align: right;
}

#helptext {
    width: 80%;
    font-size: 1.5em;
    padding: 40px 0px 0px 25px;
}

#extras {
    width: 80%;
    padding: 0px 0px 0px 25px;
}

#example {
    display: none;
}

#toggle-example {
    cursor: pointer;
    border-bottom: 1px dotted #1BB76E;
}

#detail {
    display: none;
}

#toggle-detail {
    cursor: pointer;
    border-bottom: 1px dotted #1BB76E;
}

#reminder, #example, #detail {
    width: 80%;
    font-size: 1.25em;
    font-style: italic;
    padding: 5px 0px 0px 25px;
}

#label {
    padding: 10px 0px 0px 25px;
}

#custom-filters {
    width: 85%;
}

#filters {
    margin: 5px 25px;
}

#btn-group {
    margin-left: 25px;
    padding-left: 10px;
}

#copyright {
    font-size: .8em;
    width: 50%;
    position: absolute;
    bottom: 0px;
    right: 25%;
    left: 50%;
    margin-left: -25%;
    text-align: center;
}

.logo {
    -webkit-border-radius: 50px;
    border-radius: 50px;
    margin: 10px 0 0 10px;
    padding: 0 15px;
}

.logo:hover {
    background-color: #50545c;
}

.social {
    font-size: 3em;
    height: 32px;
    width: 32px;
    display: -webkit-box;
}

.wrap {
    margin: 0 auto;
    max-width: 1025px;
    padding: 0 10px;
}

.ui-tabs {
    margin-left: 25px;
}

.ui-tabs-nav {
    padding: .5em .5em 0!important;
}

.ui-widget-header {
    border: none;
    background-color: #34373c;
    color: #f2f2f2;
}

.ui-widget-content {
    background-color: #141518;
    color: #f2f2f2;
}